/* -------------------
// BASE
// ------------------- */
.dates-component{
	font-family: $dates-component-font-family;
	position: relative;
	display: flex;

	&_container-inputs{
		position: relative
	}

	&--expanded{
		.dates-component-container-inputs{
			display: flex;
			justify-content: space-between;
			.dates-component_check-out{
				margin-left: 20px;
			}
		}
	}

	&_input{
		border: 1px solid $dates-component-border-color;
		border-radius: $dates-component-border-radius;
		height: $dates-component-input-height;
		padding-left: 0.8em;
		color: $dates-component-text-color;
		font-size: $dates-component-input-font-size;
		/* width: 100%; */
	}

	&_table{
		padding: 20px;
	}

	&_dropdown{
		display: flex;
		position: absolute;
		background-color: #ffffff;
		border: 1px solid $dates-component-border-color;
        box-shadow: $occupancy-component-dropdown-box-shadow;
        border-radius: 0px 0px $dates-component-border-radius $dates-component-border-radius;
		z-index: 100;

		&--top {
			bottom: 41px;
		}

		&--mobile{
			padding: 0!important;
			z-index: 100;
			width: 100%;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background:#fff;
			height: 100%;
			max-height: 100%;
			flex-flow: column;
		}

		.dates-component_header{
			height: 63px;
			align-items: center;
			background: $dates-component-base-color;
			text-transform: uppercase;
			color: #ffffff;
			display: flex;
			padding-left: 20px;
			justify-content: space-between;
		}

		.dates-component_close{
			cursor: pointer;
			svg:not(.c-booking-widget__loading-icon){
				margin-right: 10px;
				width:28px;
				fill: #ffffff;
			}
		}

		.dates-component_table{
			box-sizing: border-box;
		}

		.dates-component_month,
		.dates-component_table{
			width: 100%;
		}
	}

	.dates-component_month-name{
		svg:not(.c-booking-widget__loading-icon){
			width: 12px;
			fill: #c6c6c6;
		}
	}

	&_prev-month{
		left: 0;
		position: absolute;
		cursor: pointer;
		svg:not(.c-booking-widget__loading-icon){
			margin-left: 10px;
		}
	}
    &_next-month{
		right: 0;
		position: absolute;
		cursor: pointer;
		svg:not(.c-booking-widget__loading-icon){
			margin-right: 10px;
		}
	}

	&_week-days-name{

		th{
			padding-top: 25px;
			padding-bottom: 7px;
			font-weight: normal;
			color: #a8a8a8;
			font-size: 0.8em;
			&::first-letter{
				text-transform: uppercase;
			}
		}
	}

	&_month-name th{
		position: relative;
	}

	td{
		position: relative;
		text-align: center;
		vertical-align: middle;
		padding: 10px;
		cursor: pointer;
	}

	&_old,
	&_new {
		color: color(#d7d7d7 lightness(80%));
		&.dates-component_selected{
			color:#fff;
			background-color: color($dates-component-base-color lightness(95%));
		}
	}

	&_unselectable{
		background:#e8e8e8;
		color: #d7d7d7;
		cursor: default;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	td:not(.dates-component_unselectable){
		&:hover{
			background-color: $dates-component-base-color;
			color: #fff;
		}
	}

	&_selected{
		background-color: color($dates-component-base-color lightness(80%));
		color: #fff;
	}

	&_check-in-day,
	&_check-out-day{
		background-color: $dates-component-base-color;
		color: #fff;
	}

	&_tooltip{
		pointer-events:none;
		display: block ruby;
		position: absolute;
		top: -22px;
		/* min-width: 50px; */
		padding:5px 5px;
		background-color: #fff;
		z-index: 1;
		font-size: 0.7em;
		color: $dates-component-base-color;
		border-radius: $dates-component-border-radius;
        box-shadow: $dates-component-input-box-shadow;
		&:after{
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			bottom: -5px;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
  			border-top: 5px solid #fff;
			left: calc(50% - 5px);
		}
		svg:not(.c-booking-widget__loading-icon){
			width: 23px;
			max-height: 25px;
			fill: $dates-component-base-color;
		}
	}
}
