/* GENERAL */
$dates-component-font-family: 'Lato', sans-serif;
$dates-component-base-color: #345379;
$dates-component-text-color: #212529;
$dates-component-line-height: 1.428571429em;
$dates-component-border-color: #d7d7d7;
$dates-component-border-radius: 3px;

/* INPUT */
$dates-component-input-height: 40px;
$dates-component-input-font-size: .9em;
$dates-component-input-box-shadow: 0px 1px 2px 0px rgba(176,176,176,0.5);

/* DROPPDOWN */
$occupancy-component-dropdown-width: 410px;
$occupancy-component-dropdown-box-shadow: 0px 4px 9px 1px rgba(176,176,176,1);

/* BUTTON */
$occupancy-component-button-font-color: #555;
$occupancy-component-button-padding: .375em .75em;
